# AWS / LocalStack Configuration
AWS_REGION=us-east-1
AWS_ENDPOINT=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# LocalStack Services
LOCALSTACK_SERVICES=sns,sqs
DEBUG=0

# Polling Configuration (milliseconds)
POLLING_INTERVAL_MS=10000

# Service Ports
ORDER_SERVICE_PORT=3001
KITCHEN_SERVICE_PORT=3002
INVENTORY_SERVICE_PORT=3003
PURCHASING_SERVICE_PORT=3004

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Database por servicio (creadas automáticamente)
ORDER_SERVICE_DB=order_service
KITCHEN_SERVICE_DB=kitchen_service
INVENTORY_SERVICE_DB=inventory_service
PURCHASING_SERVICE_DB=purchasing_service
