# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=order_service

# AWS Configuration (para futuros eventos)
AWS_REGION=us-east-1
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:events
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/000000000000/order-service-queue

# Application
NODE_ENV=development
